<div class="flex flex-col w-full overflow-auto bg-card">
  <div
    class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary"
  >
    
    <div *ngIf="!editMode" class="ml-3 text-2xl font-semibold tracking-tight">Add Diagnosis</div>
    <div *ngIf="editMode" class="ml-3 text-2xl font-semibold tracking-tight">Update Diagnosis</div>
    <button class="ml-auto" mat-icon-button (click)="dialogRef.close()">
      <mat-icon
        class="text-current"
        [svgIcon]="'heroicons_outline:x'"
      ></mat-icon>
    </button>
  </div>
  <form
    class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:pl-12 lg:pr-12 lg:pt-3"
    [formGroup]="diagnosisForm"
    #diagnosisNGForm="ngForm"
  >
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <!-- Name -->
      <div class="sm:col-span-4 form-group">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
        <mat-label>Problem/Condition <span>*</span></mat-label>
        <!-- <ng-select
          [formControlName]="'problem'"
          class="mr-4 min-w-50"
          placeholder="Search"
        >
          <ng-option *ngFor="let car of cars" [value]="car.id">
            {{ car.name }}
          </ng-option>
        </ng-select> -->

        <input
            matInput
            [formControlName]="'problem'"
            [placeholder]="'Enter'"
            [formControlName]="'problem'"
            [matAutocomplete]="auto" 
            (input)="searchDrugsTerm($event)"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions$ | async" [id]="option.icdCodeId" [value]="option.description">
              {{option.description}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div
          *ngIf="f.problem.touched && f.problem.invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f.problem.errors && f.problem.errors.required">
            Problem/Condition is required.
          </div>
        </div>
      </div>
    </div>
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <!-- Medical Registration No -->
      <div class="sm:col-span-2 form-group">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>Clinical Status</mat-label>

          <mat-select
            [placeholder]="'Select'"
            [formControlName]="'clinical_status_id'"
          >
            <mat-option *ngFor="let data of clinicalStatuses" [value]="data.masterdata_id">{{ data.data_name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Education -->
      <div class="sm:col-span-2 form-group">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>Onset Date</mat-label>
          <input
            matInput
            [matDatepicker]="onsetDate"
            (focus)="onsetDate.open()"
            (click)="onsetDate.open()"
            [placeholder]="'dd,mmm,yyyy'"
            [formControlName]="'onset_date'"
          />
          <mat-datepicker-toggle matPrefix [for]="onsetDate">
          </mat-datepicker-toggle>
          <mat-datepicker #onsetDate></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- Medical Registration No -->
      <div class="sm:col-span-2 form-group">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>Resolved Date</mat-label>
          <input
            matInput
            [matDatepicker]="resolvedDate"
            [placeholder]="'dd,mmm,yyyy'"
            (focus)="resolvedDate.open()"
            (click)="resolvedDate.open()"
            [formControlName]="'resolved_date'"
          />
          <mat-datepicker-toggle matPrefix [for]="resolvedDate">
          </mat-datepicker-toggle>
          <mat-datepicker #resolvedDate></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- Education -->
      <div class="sm:col-span-2 form-group">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>Stage</mat-label>
          <input
            matInput
            [placeholder]="'Enter'"
            [formControlName]="'stage'"
          />
        </mat-form-field>
      </div>
      <!-- Experience -->
    </div>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>
    <!-- Actions -->
    <div class="flex items-center justify-end">
      <button mat-flat-button type="button" (click)="dialogRef.close()">
        <span class="ml-2 mr-1">Cancel</span>
      </button>
      <button
        type="submit"
        mat-flat-button
        [color]="'primary'"
        [disabled]="diagnosisForm.invalid"
        (click)="onSubmit()"
      >
        <span class="ml-2 mr-1">{{diagonsis_id?'Update' : 'Save'}}</span>
      </button>
    </div>
  </form>
</div>
