.service-details {

}
.col-width-30 {
    width: 30%;
}
.col-width-8 {
    width: 8%;
}
.col-width-12 {
    width: 12%;
}
.col-width-15 {
    width: 15%;
}
.col-width-20 {
    width: 20%;
}

.form-table td {
    padding: 8px 5px;
    border-bottom: 1px solid rgba(209,214,243,0.5);
    border-right: 1px solid rgba(209,214,243,0.5);
    text-align: left;
}

.form-table tbody tr td:last-child {
    border-right: none;
}

.form-table thead th:last-child {
    border-top-right-radius: 3px;
}


.form-table th {
    font-size: 13px;
    font-weight: 700;
    color: black;
    text-align: left;
    padding: 8px 5px;
    border-bottom: 1px solid rgba(209,214,243,0.5);
}



.form-table {
    border-collapse: collapse;
}

.create-new {
    padding:8px 10px;
}

.invalid-class {
    border: 1px solid red;
}
.brd-lr{
    border-left: 1px solid rgba(209, 214, 243, 0.5);
    border-right: 1px solid rgba(209, 214, 243, 0.5);
}