

/* Event panel */
.calendar-event-panel {
  border-radius: 8px;
  @apply shadow-2xl bg-card;
}


.height-calc {
  height: calc(100vh - 200px);
}
.appointment-tab .mat-tab-labels {
  float: right;
  background: white;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid rgba(0,0,0,0.1);
}
.bg-blue{
  background-color:#066bdb !important;
}
.appointment-tab
  .mat-tab-header
  .mat-tab-label-container
  .mat-tab-list
  .mat-tab-labels
  .mat-tab-label.mat-tab-label-active {
    background-color: #0d9488 !important;
  color: white !important;
}


.queue-grid {
  grid-template-columns: 48px auto 40px;

  @screen sm {
    grid-template-columns: 48px auto 112px 72px;
  }

  @screen md {
    grid-template-columns: 24px 24px 112px auto 112px 72px;
  }

  @screen lg {
    grid-template-columns: 15% 15% 30% 20% 20%;
  }

  .mat-icon.vitals-active {
    color: green !important;
  }
}