<div class="flex w-full flex-col bg-card border-d3d3d3 pl-5 mt-10 rounded-lg">
  <div
    class="absolute w-full flex-col sm:flex-row items-start sm:items-center sm:justify-between pl-2 pr-20 sm:pt-12 pb-8"
  >
    <div class="text-4xl font-extrabold tracking-tight leading-none">
      Reports
      <div class="inline ml-7">
       
        <button
          class="ml-4 float-right"
          mat-flat-button
          [color]="'primary'"
          [disabled]="!selectedPatientId"
          (click)="openUpload()"
        >
          <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
          <span class="ml-2 mr-1">Upload files</span>
        </button>
        <!-- <mat-form-field
            class="float-right fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-2/4"
          >
            <mat-icon
              class="icon-size-5"
              matPrefix
              [svgIcon]="'heroicons_solid:search'"
            ></mat-icon>
            <input
              matInput
              [matAutocomplete]="auto"
              (input)="onSearchTerm($event)"
              [placeholder]="'Search for Patient name, Phone Number, UHID'"
              [value]="selectedPatient$ | async"
              [disabled]="id || selectedPatientId"
            />
  
            <button
              *ngIf="!id && selectedPatientId"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearReports()"
            >
              <mat-icon>close</mat-icon>
            </button>
  
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onSelectionChange($event,'')"
            >
              <mat-option
                class="capitalize"
                *ngFor="let option of filteredOptions$ | async"
                [id]="option.patientid"
                [value]="
                  option.full_name +
                  ' - ' +
                  option.age +
                  ' Years' +
                  ' - ' +
                  (option.gender == 'male'
                    ? 'Male'
                    : option.gender == 'female'
                    ? 'Female'
                    : 'Other') +
                  ' - ' +
                  option.mobile_no
                "
              >
                <b>{{ option.full_name }} </b> - {{ option.age }} Years -
                {{ option.gender }} - {{ option.mobile_no }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
      </div>
    </div>
  </div>

  <div
    *ngIf="isLabReport"
    class="mt-30"
    infiniteScroll
    [infiniteScrollDistance]="0.5"
    (scrolled)="onScroll($event)"
  >
    <div class="text-left">
      <mat-button-toggle-group
        *ngIf="selectedPatient$ | async"
        class="profile-button-group bg-white-radius"
        value="lab"
        [(ngModel)]="toggleGroupType"
        #taskDistributionWeekSelector="matButtonToggleGroup"
      >
        <mat-button-toggle [value]="57" (click)="GetLabpreports()"
          >Lab Reports</mat-button-toggle
        >
        <mat-button-toggle [value]="55" (click)="GetPrescriptionpreports()"
          >Prescriptions
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div *ngIf="labReport$ | async as reports; else noItems" class="container">
      <div *ngFor="let report of reports" class="boxes">
        <ng-container
          class="flex flex-wrap"
          *ngIf="
            report.listOfFiles &&
            report.listOfFiles.length !== 0 &&
            report.listOfFiles[0].mime_type.includes('image')
          "
        >
          <div
            class="flex flex-col m-2 shadow rounded-2xl cursor-pointer bg-card bg-no-repeat bg-cover"
            [ngStyle]="{
              background:
                'linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,.4)),url(\'' +
                report.src +
                '\')'
            }"
          >
            <div
              class="aspect-w-9 aspect-h-6"
              (click)="downloadFile(report)"
            ></div>
            <div
              class="flex flex-col flex-auto pl-2.5 rounded-b-2xl text-left text-sm font-medium bg-white h-10 leading-10"
            >
              <div>
                Uploaded on {{ report.created_on | date : "dd/MMM/yyyy" }}
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            report.listOfFiles &&
            report.listOfFiles.length !== 0 &&
            !report.listOfFiles[0].mime_type.includes('image')
          "
        >
          <div
            class="flex flex-col m-2 shadow rounded-2xl cursor-pointer bg-card"
          >
            <div class="aspect-w-9">
              <pdf-viewer
                class="pdf-style"
                (click)="downloadFile(report)"
                [src]="report.src"
                [original-size]="false"
                [render-text]="false"
                [show-all]="false"
                style="
                  width: 100%;
                  height: 160px;
                  border-bottom: 1px solid gray;
                  overflow-y: hidden;
                  background-color: black;
                  border-top-left-radius: 1rem;
                  border-top-right-radius: 1rem;
                "
              ></pdf-viewer>
            </div>
            <div
              class="flex flex-col flex-auto pl-2.5 rounded-b-2xl text-left text-sm font-medium bg-white h-10 leading-10"
            >
              <div class="truncate">
                Uploaded on {{ report.created_on | date : "dd/MMM/yyyy" }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div
    *ngIf="isPrescription"
    class="mt-30 bg-white"
    infiniteScroll
    [infiniteScrollDistance]="0.5"
    (scrolled)="onScroll($event)"
  >
    <div class="ml-2 text-left" *ngIf="selectedPatient$ | async">
      <mat-button-toggle-group
        class="profile-button-group bg-white-radius"
        value="lab"
        [(ngModel)]="toggleGroupType"
        #taskDistributionWeekSelector="matButtonToggleGroup"
      >
        <mat-button-toggle [value]="57" (click)="GetLabpreports()"
          >Lab Reports</mat-button-toggle
        >
        <mat-button-toggle [value]="55" (click)="GetPrescriptionpreports()"
          >Prescriptions
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div
      *ngIf="investigationReport$ | async as reports; else noItems"
      class="container"
    >
      <div *ngFor="let report of reports" class="boxes">
        <ng-container
          *ngIf="
            report.listOfFiles &&
            report.listOfFiles.length !== 0 &&
            report.listOfFiles[0].mime_type.includes('image')
          "
        >
          <div
            class="flex flex-col m-2 shadow rounded-2xl cursor-pointer bg-card bg-no-repeat bg-cover"
            [ngStyle]="{
              background:
                'linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,.4)),url(\'' +
                report.src +
                '\')'
            }"
          >
            <div
              class="aspect-w-9 aspect-h-6"
              (click)="downloadFile(report)"
            ></div>
            <div
              class="flex flex-col flex-auto pl-2.5 rounded-b-2xl text-left text-sm font-medium bg-white h-10 leading-10"
            >
              <div>
                Uploaded on {{ report.created_on | date : "dd/MMM/yyyy" }}
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            report.listOfFiles &&
            report.listOfFiles.length !== 0 &&
            !report.listOfFiles[0].mime_type.includes('image')
          "
        >
          <div
            class="flex flex-col m-2 shadow rounded-2xl cursor-pointer bg-card"
          >
            <div class="aspect-w-9">
              <pdf-viewer
                class="pdf-style"
                (click)="downloadFile(report)"
                [src]="report.src"
                [original-size]="false"
                [render-text]="false"
                [show-all]="false"
                style="
                  width: 100%;
                  height: 160px;
                  border-bottom: 1px solid gray;
                  overflow-y: hidden;
                  background-color: black;
                  border-top-left-radius: 1rem;
                  border-top-right-radius: 1rem;
                "
              ></pdf-viewer>
            </div>
            <div
              class="flex flex-col flex-auto pl-2.5 rounded-b-2xl text-left text-sm font-medium bg-white h-10 leading-10"
            >
              <div class="truncate">
                Uploaded on {{ report.created_on | date : "dd/MMM/yyyy" }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <ng-container
    *ngIf="
      !selectedPatientId ||
      (isLabReport && (labReport$ | async)?.length == 0) ||
      (isPrescription && (investigationReport$ | async)?.length == 0)
    "
  >
    <div class="">
      <img
        class="w-1/4 m-auto"
        src="../../../../../../assets/images/non-data-found.gif"
      />
    </div>
  </ng-container>
</div>
