<div class="flex flex-col">
    <div
      class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary"
    >
      <div class="text-2xl font-semibold tracking-tight">Add Medical History</div>
      <button class="ml-auto" mat-icon-button (click)="dialogRef.close()">
        <mat-icon
          class="text-current"
          [svgIcon]="'heroicons_outline:x'"
        ></mat-icon>
      </button>
    </div>
  
    <form
      class="flex-auto px-6"
      [formGroup]="medicalHistoryForm" #medicalHistoryNGForm="ngForm"
    >
      <div class="grid sm:grid-cols-4 gap-6 w-full mt-8 ">
        <div class="sm:col-span-2 form-group">
            <mat-form-field
              class="fuse-mat-no-subscript w-full"
              floatLabel="always"
            >
              <mat-label>Comorbid Condition <span>*</span></mat-label>
              <mat-select class="form-control" [placeholder]="'Select'" [formControlName]="'history_name'">
                <mat-option [value]="data.data_name" *ngFor="let data of comorbidConditions">{{ data.data_name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="f.history_name.touched && f.history_name.invalid" class="alert alert-danger">
              <div *ngIf="f.history_name.errors && f.history_name.errors.required">
                Comorbid Condition is required.
              </div>
            </div>
          </div>
          <div class="sm:col-span-2 form-group">
            <mat-label>Status <span>*</span></mat-label><br />
            <mat-radio-group aria-label="Select an option" [formControlName]="'status'">
              <mat-radio-button
                class="form-control example-radio-button"
                *ngFor="let item of status"
                [value]="item"
              >
                {{ item }}
              </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="f.status.touched && f.status.invalid" class="alert alert-danger">
              <div *ngIf="f.status.errors && f.status.errors.required">
                Status is required.
              </div>
            </div>
          </div>
        <div class="sm:col-span-2">
          <mat-form-field
            class="fuse-mat-no-subscript w-full"
            floatLabel="always"
          >
            <mat-label>Onset Date/Period</mat-label>
            <input
              matInput
              [formControlName]="'onset_date'"
              [matDatepicker]="date"
              [placeholder]="'dd, MMM, yyyy'"
              (click)="date.open()"
              (focus)="date.open()"
            />
            <mat-datepicker-toggle matPrefix [for]="date">
            </mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="sm:col-span-2">
          <mat-form-field class="fuse-mat-no-subscript w-full" floatLabel="always">
            <mat-label>Duration </mat-label>
            <input matInput [placeholder]="'Enter'" [formControlName]="'duration_value'" />
            <mat-select [formControlName]="'duration_id'" matSuffix>
              <mat-option [value]="data.masterdata_id" *ngFor="let data of durations">{{data.data_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="sm:col-span-4">
          <mat-form-field
            class="fuse-mat-no-subscript w-full"
            floatLabel="always"
          >
            <mat-label>Notes</mat-label>
            <input
              matInput
              [formControlName]="'notes'"
              [placeholder]="'Enter'"
            />
          </mat-form-field>
        </div>
        
      </div>
      <!-- Divider -->
     <!-- Divider -->
     <div class="mt-11 mb-10 border-t"></div>
     <!-- Actions -->
     <div class="flex items-center justify-end">
       <button mat-flat-button type="button">
         <span class="ml-2 mr-1" (click)="onReset()">Cancel</span>
       </button>
       <button
         type="submit"
         mat-flat-button
         [color]="'primary'"
         [disabled]="medicalHistoryForm.invalid"
       >
         <span class="ml-2 mr-1" (click)="onSubmit()">Save</span>
       </button>
     </div>
    </form>
  </div>
  