.hoverable {
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  position: relative;
  display: block;
  cursor: pointer;
  height: 150px;
  width: 150px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: auto;
}
.delete-trash {
  position: relative;
  text-align: center;
  // bottom: 170px;
  // left: 45px;
  mat-icon {
    color: red;
  }
}
.hoverable .hover-text {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 10px;
}
.hoverable .background {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text {
  display: block;
}
.hoverable:hover .background {
  display: block;
}

#fileInput {
  display: none;
}
.bg-gy {
  background: lightgrey !important;
}
.h-132px {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      height: 130px !important;
    }
  }
}
