.lab-list-grid {
  grid-template-columns: 48px auto 40px;

  @screen sm {
    grid-template-columns: 48px auto 112px 72px;
  }

  @screen md {
    grid-template-columns: 160px auto 112px 72px;
  }

  @screen lg {
    grid-template-columns: 20% 10% 15% 16% 10% 10% 10%;
  }
}
.request-list-grid {
  grid-template-columns: 48px auto 40px;

  @screen sm {
    grid-template-columns: 48px auto 112px 72px;
  }

  @screen md {
    grid-template-columns: 160px auto 112px 72px;
  }

  @screen lg {
    grid-template-columns: 25% 20% 20% 20% 10%;
  }
}
