<!-- <div class="flex flex-col flex-auto w-full "> 
    <div class="grid grid-cols-6 xl:grid-cols-6 gap-3 w-full mt-1 items-baseline">
      <div class="grid gap-6 sm:grid-flow-row xl:grid-flow-row py-5	 col-span-4 items-start">
       
        <div class="rounded-lg  items-start justify-between">  
          <div class="relative img-bg col-span-2 flex flex-col items-right justify-center  px-1 rounded-lg">
            <img class="img-fix-left" src="../../../../../../assets/images/cards/rx.png">
            <div class="bg-slect pt-8 pb-8 text-right mr-20">
              <div class="text-white font-bold text-2xl mr-3">Prescription Rx</div>
              <button class="mt-2" type="submit" mat-flat-button >
              <span class="ml-2 mr-1" >Book Appointment</span>
              </button>
            </div> 
        </div>
        </div> 
      </div>
      
      <div class="flex flex-col flex-auto rounded-lg  col-span-2 pb-6 ml-2">
        <div class="flex flex-col">
          <ng-container>
            
          </ng-container>
        </div>
      </div>
    </div>
  </div> -->

  <div class="relative flex flex-col mb-6 flex-auto bg-card shadow-new rounded-2xl h-64">
     
    <div class="m-6">
        <div class="grid grid-cols-6 xl:grid-cols-6 gap-3 w-full mt-1 items-baseline">
            <div class="grid gap-6 sm:grid-flow-row xl:grid-flow-row py-5	 col-span-4 items-start">
             
              <div class="rounded-lg  items-start justify-between">  
                <div class="relative img-bg col-span-2 flex flex-col items-right justify-center  px-1 rounded-lg">
                  <img class="img-fix-left" src="../../../../../../assets/images/cards/rx.png">
                  <div class="bg-slect pt-8 pb-8 text-right mr-20">
                    <div class="text-white font-bold text-2xl mr-3">Prescription Rx</div>
                    <button class="mt-2" type="submit" mat-flat-button >
                    <span class="ml-2 mr-1" >Book Appointment</span>
                    </button>
                  </div> 
              </div>
              </div> 
            </div>
            
            <div class="flex flex-col flex-auto rounded-lg  col-span-2 pb-6 ml-2">
              <div class="flex flex-col">
                <ng-container>
                  
                </ng-container>
              </div>
            </div>
          </div>
    </div>

</div>
  
  
  