<div class="h-screen flex flex-col">
  <!-- [formGroup]="environmentAllergyForm" -->

  <form
    class="flex-auto px-6"
    [formGroup]="environmentAllergyForm"
    #environmentAllergyNGForm="ngForm"
  >
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8"> 
      <div class="sm:col-span-2">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always">
          <mat-label>Allergen/Environment <span>*</span></mat-label>
          <mat-icon svgIcon="heroicons_outline:search"></mat-icon>
          <input
            matInput
            formControlName="allergyName"
            [placeholder]="'Search'"
            [matAutocomplete]="auto"
           
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let data of filteredOptions | async"
              [value]="data.data_name" [ngClass]="_allowSelection(data.data_name)"
            >
              {{ data.data_name }}
            </mat-option>
          </mat-autocomplete>
          <!-- <mat-select
              [formControlName]="'allergyName'"
              class="mr-4 min-w-50"
              placeholder="Select"
              multiple>
              <mat-option *ngFor="let data of newenvAllergies" [value]="data.data_name">{{
                data.data_name
              }}</mat-option>
          </mat-select> -->
      </mat-form-field>
      <div
          *ngIf="f.allergyName.touched && f.allergyName.invalid"
          class="alert alert-danger"
        >
          <div
            *ngIf="f.allergyName.errors && f.allergyName.errors.required"
          >
          Allergen/Environment is required.
          </div>
        </div>
      </div>
      <div class="sm:col-span-2">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always">
          <mat-label>Reaction <span>*</span></mat-label>

          <mat-select
            [placeholder]="'Select'"
            multiple
            [formControlName]="'reaction'">
            <mat-option *ngFor="let data of envReactions" [value]="data.data_name">
              {{data.data_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          *ngIf="f.reaction.touched && f.reaction.invalid"
          class="alert alert-danger"
        >
          <div
            *ngIf="f.reaction.errors && f.reaction.errors.required"
          >
            Reaction is required.
          </div>
        </div>
      </div>
      <div class="sm:col-span-2">
        <mat-label>Status <span>*</span></mat-label>
        <br />
        <mat-radio-group
          aria-label="Select an option"
          [formControlName]="'status'"
        >
          <mat-radio-button
            [color]="primary"
            *ngFor="let status of status"
            [value]="status"
            class="capitalize"
          >
            {{ status }}
          </mat-radio-button>
        </mat-radio-group>
        <div
          *ngIf="f.status.touched && f.status.invalid"
          class="alert alert-danger"
        >
          <div
            *ngIf="f.status.errors && f.status.errors.required"
          >
          Status is required.
          </div>
        </div>
      </div>
    </div>
    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>
    <!-- Actions -->
    <div class="flex items-center justify-end">
      <button mat-flat-button type="button">
        <span class="ml-2 mr-1" (click)="onReset()">Cancel</span>
      </button>
      <button
        type="submit"
        mat-flat-button
        [color]="'primary'"
        [disabled]="environmentAllergyForm.invalid"
      >
        <span *ngIf="!editMode" class="ml-2 mr-1" (click)="onSubmit()">Save</span>
        <span *ngIf="editMode" class="ml-2 mr-1" (click)="onSubmit()">Update</span>
      </button>
    </div>
  </form>
</div>
