<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex pt-9 px-6 md:px-8">
      
      <div class="text-4xl font-extrabold tracking-tight">Free conslultation period</div>
    </div>
    <div class="px-6 py-8 md:px-8">
    <form [formGroup]="freeConsultaionForm">
      <div class="flex-auto ">
        <div class="grid sm:grid-cols-4 gap-6 w-full ">  
            <div class="sm:col-span-1">
                <mat-form-field class="fuse-mat-no-subscript w-full" floatLabel="always">
                    <mat-label>Conslultation period</mat-label>
                    <input [formControlName]="'conslultation_period'"  placeholder="Enter"  matInput onlyNumber>
                    <span matSuffix>Days</span> 
                </mat-form-field>
                
            </div>
        </div>
        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>
        <!-- Actions -->
        <div class="flex items-center justify-end">
          <button mat-flat-button type="button" (click)="clearForm()">
            <span class="ml-2 mr-1">Cancel</span>
          </button>
          <button
            type="submit"
            mat-flat-button
            [color]="'primary'"  [disabled]="freeConsultaionForm?.invalid || !changesFound">
           
            <span class="ml-2 mr-1" 
            (click)="save()">Save</span>
          </button>
        </div>
      </div>
    </form>
    </div>
  </div>
  